.navigationDiv {
  margin-top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 160px;
  max-width: 2000px;
  width: 100%;
  font-size: 28px;
  margin-bottom: 200px;
  background-color: rgb(191, 191, 255);
}
